<!DOCTYPE html>
<html lang="en">
	<%- include('../common/head.ejs') %>
	<style>
		pre {
			max-width: 100%;
			overflow: auto;
			white-space: pre-wrap; /* Allows the text to wrap inside the pre element */
			word-wrap: break-word; /* Breaks long words to prevent overflow */
		}
	</style>
	<body class="mb-14">
		<%- include('../common/nav.ejs') %>
		<div class="flex items-center justify-center">
			<div class="lg:w-1/2 w-[90%] mt-20">
				<div class="lg:text-4xl md:text-4xl text-3xl font-semibold"><%- blog.title %></div>
				<div class="mt-2 flex gap-x-6 text-sm">
					<div class="flex items-center gap-1">
						<div class="">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<div><%- blog.author.fullName %></div>
					</div>
					<div class="flex items-center gap-1">
						<div class="">
							<i class="fa-solid fa-calendar-days"></i>
						</div>
						<div><%- new Date(blog.createdAt).toLocaleDateString() %></div>
					</div>
				</div>
                <div class="mt-3 w-full lg:h-[60vh]">
                    <img src="<%- blog.thumbnail %>" class="w-full h-full rounded-md object-cover"/>
                </div>
				<pre>
                    <%- blog.content %>
                </pre
				>
			</div>
		</div>
		<%- include('../common/bottomNav.ejs') %>
	</body>
</html>
